body{
    background-color: rgb(159, 214, 216);
    color: rgb(73, 36, 36);
}

a{
    color: rgb(0, 77, 80);
    font-size: 20px;
    &:hover{
        color: rgb(230, 116, 34);
    }
    &:active, &:visited{
        color: black;
    }
}
